<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Pizeria Blog</title>
</head>
<body>
    <header>
        <nav class="header_nav flex-row container">
            <picture class="header_img">
                <a href="../index.html">
                    <img src="../public/img/pizza-logo.jpg" alt="">
                </a>
            </picture> 
            <ul class="header_ul flex-row">
                <li class=""><a href="../index.html">Home</a></li>
                <li class=""><a href="nosotros.html">Nosotros</a></li>
                <li class=""><a href="menu.html">MENU</a></li>
                <li class=""><a href="blog.html">Blog</a></li>
                <li class=""><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="section8">
        <div class="section8_contenedor">
            <h2>Reinventate</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Numquam in ea natus harum comm</p>
        </div>
    </section>
    <section class="section9">
        <div class="container">
            <h2 class="section9_text">Titulo</h2>
            <img class="section9_text" src="../public/img/pizza-4.jpg" alt="Nosotros pizzeria">
            <p class="section9_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Numquam in ea natus harum commodi tempora ut quo tenetur
                voluptatibus
                quas facilis veritatis molestiae vitae, beatae aliquam
                ,sit libero, molestias quidem!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Numquam in ea natus harum commodi tempora ut quo tenetur
                voluptatibus
                quas facilis veritatis molestiae vitae, beatae aliquam
                ,sit libero, molestias quidem!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Numquam in ea natus harum commodi tempora ut quo tenetur
                voluptatibus
                quas facilis veritatis molestiae vitae, beatae aliquam
                ,sit libero, molestias quidem!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Numquam in ea natus harum commodi tempora ut quo tenetur
                voluptatibus
                quas facilis veritatis molestiae vitae, beatae aliquam
                ,sit libero, molestias quidem!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Numquam in ea natus harum commodi tempora ut quo tenetur
                voluptatibus
                quas facilis veritatis molestiae vitae, beatae aliquam
                ,sit libero, molestias quidem!</p>
        </div>
    </section>
    <footer>
        <div class="container">
            <h2 class="footer_contenido">Conocenos</h2>
            <p class="footer_contenido">Plaza San Martin, Lima</p>
        </div>
    </footer>
</body>
</html>