<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Pizeria Contacto</title>
</head>
<body>
    <header>
        <nav class="header_nav flex-row container">
            <picture class="header_img">
                <a href="../index.html">
                    <img src="../public/img/pizza-logo.jpg" alt="">
                </a>
            </picture> 
            <ul class="header_ul flex-row">
                <li class=""><a href="../index.html">Home</a></li>
                <li class=""><a href="nosotros.html">Nosotros</a></li>
                <li class=""><a href="menu.html">MENU</a></li>
                <li class=""><a href="blog.html">Blog</a></li>
                <li class=""><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="section10">
        <div class="section10_contenedor">
            <h2>Contactenos</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Numquam in ea natus harum comm</p>
        </div>
    </section>
    <section class="section11">
        <div class="container flex-row section11_sub">
            <form action="" method="post" class="section11_subcontenedor">
                <input type="text" name="name" id="" placeholder="Nombre">
                <input type="email" name="email" id="" placeholder="Correo">
                <input type="number" name="number" id="" placeholder="Telefono">
                <textarea name="mensaje" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                <br>
                <button type="submit">Enviar</button>
            </form>
            <iframe class="section11_subcontenedor" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.0762349455613!2d-77.03630659925025!3d-12.051831451275204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c9d7b6a104f1%3A0xf90de36df50e9438!2sPlaza%20San%20Martin!5e0!3m2!1ses!2spe!4v1645847444370!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>
    <footer>
        <div class="container">
            <h2 class="footer_contenido">Conocenos</h2>
            <p class="footer_contenido">Plaza San Martin, Lima</p>
        </div>
    </footer>
</body>
</html>