<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Pizeria MENU</title>
</head>
<body>
    <header>
        <nav class="header_nav flex-row container">
            <picture class="header_img">
                <a href="../index.html">
                    <img src="../public/img/pizza-logo.jpg" alt="">
                </a>
            </picture> 
            <ul class="header_ul flex-row">
                <li class=""><a href="../index.html">Home</a></li>
                <li class=""><a href="nosotros.html">Nosotros</a></li>
                <li class=""><a href="menu.html">MENU</a></li>
                <li class=""><a href="blog.html">Blog</a></li>
                <li class=""><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="section5">
        <div class="section5_contenedor">
            <h2>Nuestro MENU</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Numquam in ea natus harum comm</p>
        </div>
    </section>
    <section class="section6">
        <h2 class="section6_text">Nos vemos para el almuerzo</h2>
        <p class="section6_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Numquam in ea natus harum comm</p>
        <p class="section6_text">HORARIO DE ATENCION</p>
    </section>
    <section class="section7">
        <h2 class="section7_text">Platillos populares</h2>
        <div class="flex-row section7_menu ">
            <div class="section7_submenu">
                <img src="../public/img/pizza-3.jpg" alt="">
                <h3>Titulo 1</h3>
                <p>Descripcion 1</p>
            </div>
            <div class="section7_submenu">
                <img src="../public/img/pizza-3.jpg" alt="">
                <h3>Titulo 2</h3>
                <p>Descripcion 2</p>
            </div>
            <div class="section7_submenu">
                <img src="../public/img/pizza-3.jpg" alt="">
                <h3>Titulo 3</h3>
                <p>Descripcion 3</p>
            </div>
            <div class="section7_submenu">
                <img src="../public/img/pizza-3.jpg" alt="">
                <h3>Titulo 4</h3>
                <p>Descripcion 4</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <h2 class="footer_contenido">Conocenos</h2>
            <p class="footer_contenido">Plaza San Martin, Lima</p>
        </div>
    </footer>
</body>
</html>