<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Pizeria Nosotros</title>
</head>
<body>
    <header>
        <nav class="header_nav flex-row container">
            <picture class="header_img">
                <a href="../index.html">
                    <img src="../public/img/pizza-logo.jpg" alt="">
                </a>
            </picture> 
            <ul class="header_ul flex-row">
                <li class=""><a href="../index.html">Home</a></li>
                <li class=""><a href="nosotros.html">Nosotros</a></li>
                <li class=""><a href="menu.html">MENU</a></li>
                <li class=""><a href="blog.html">Blog</a></li>
                <li class=""><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="section3">
        <div class="section3_contenedor">
            <h2>Conoce nuestra trayectoria</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Numquam in ea natus harum comm</p>
        </div>
    </section>
    <section class="section4_1">
        <div class="flex-row container section4_1_cont">
            <div class="section4_1_subcontenedor">
                <h2 class="section4_1_text">Historia</h2>
                <p class="section4_1_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Numquam in ea natus harum commodi tempora ut quo tenetur
                    voluptatibus
                    quas facilis veritatis molestiae vitae, beatae aliquam
                    ,sit libero, molestias quidem!</p>
            </div>
            <div class="section4_1_subcontenedor">
                <img src="../public/img/img-pizzeria-2.jpeg" alt="Nosotros pizzeria">
            </div>
        </div>
    </section>
    <section class="section4_2">
        <div class="flex-row container section4_2_cont">
            <div class="section4_2_subcontenedor">
                <img src="../public/img/img-pizzeria-2.jpeg" alt="Nosotros pizzeria">
            </div>
            <div class="section4_2_subcontenedor">
                <h2 class="section4_2_text">MISION</h2>
                <p  class="section4_2_text" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam in ea natus harum comm</p>
                <h2 class="section4_2_text">VISION</h2>
                <p  class="section4_2_text" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam in ea natus harum comm</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <h2 class="footer_contenido">Conocenos</h2>
            <p class="footer_contenido">Plaza San Martin, Lima</p>
        </div>
    </footer>
</body>
</html>